
snowfall{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:50000000;
    display:block;
    font-size:40px;
    overflow:hidden;
    pointer-events:none
}

snowfall snowflake{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    width:100px;
    height:100px
}

snowfall snowflake span{
    align-self:center
}

snowfall snowflake img{
    align-self:center;
    width:20px
}

snowfall snowflake:nth-child(50){
    animation:animation-snowflake-50 linear infinite;
    animation-duration:13.1s;
    animation-delay:-1.1s
}

@keyframes animation-snowflake-50{
    0%{
        left:85%;
        top:calc(0% - 100px);
        transform:scale(1.058) rotate3d(.36,.38,.25,0deg)
    }
    100%{
        left:114.1%;
        top:calc(100% + 100px);
        transform:scale(1.058) rotate3d(.35,.84,.72,997deg)
    }
}
snowfall snowflake:nth-child(49) {
    animation: animation-snowflake-49 linear infinite;
    animation-duration: 12s;
    animation-delay: -14.8s;
}

@keyframes animation-snowflake-49 {
    0% {
        left: 26%;
        top: calc(0% - 100px);
        transform: scale(.637) rotate3d(.22, .52, .15, 0deg);
    }
    100% {
        left: 16%;
        top: calc(100% + 100px);
        transform: scale(.637) rotate3d(.12, .67, .79, -1212deg);
    }
}


snowfall snowflake:nth-child(1) {
    animation: animation-snowflake-1 linear infinite;
    animation-duration: 12.4s;
    animation-delay: -14.9s;
}

@keyframes animation-snowflake-1 {
    0% {
        left: 30%;
        top: calc(0% - 100px);
        transform: scale(.656) rotate3d(.08, .14, .22, 0deg);
    }
    100% {
        left: 53.2%;
        top: calc(100% + 100px);
        transform: scale(.656) rotate3d(.58, .99, .13, 729deg);
    }
}

snowfall snowflake:nth-child(2) {
    animation: animation-snowflake-1 linear infinite;
    animation-duration: 12.4s;
    animation-delay: -14.9s;
}

@keyframes animation-snowflake-1 {
    0% {
        left: 10%;
        top: calc(0% - 100px);
        transform: scale(.656) rotate3d(.08, .14, .22, 0deg);
    }
    100% {
        left: 53.2%;
        top: calc(100% + 100px);
        transform: scale(.656) rotate3d(.58, .99, .13, 729deg);
    }
}

snowfall snowflake:nth-child(49){animation:animation-snowflake-49 linear infinite;animation-duration:12s;animation-delay:-14.8s}
@keyframes animation-snowflake-49{0%{left:26%;top:calc(0% - 100px);transform:scale(.637) rotate3d(.22,.52,.15,0deg)}100%{left:16%;top:calc(100% + 100px);transform:scale(.637) rotate3d(.12,.67,.79,-1212deg)}}