body{
    margin: O;
}

/* Menu Déroulant */

*{
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
}

header{
 display: flex;
 justify-content: space-evenly;
 z-index: 3;
}

.burger{
  display : none;
}

nav{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: sticky;
  top: 0dpx;

}


nav ul{
  list-style-type: none;
}

nav ul li{
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover{
  color: orange;
  border-bottom: 2px solid gold;

}

.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;

}
nav > ul li:hover .sous{
  display: block;
}
.sous li{
  float: none;
  width: 100%;
  text-align: left;
}
.sous a{
  padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
  content:" ▼";
  font-size: 12px;

}

.conteneur{
margin: 50px 20px;
height: 1500px;
}



label, #toggle
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    nav
    {
      height: 2em;
    }

    .burger{
      display : flex;
    }
 
    header{
      display : none;
    }

    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        background: #3B556D;
        height: 25em;
    }
 
    nav .main_pages a {
        width: 50%;
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 1em;
        cursor: pointer;
    }
 
    #toggle:checked + .main_pages {
        display: flex;
    }
    
}


/* Titre */
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5em;
  background-image: url(https://img.freepik.com/vecteurs-libre/couronne-or-ligne-vague_1017-33680.jpg?size=626&ext=jpg&ga=GA1.1.1222169770.1702425600&semt=sph);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f7ede1;
  text-align: center;
  font-size: 30pt;
  margin: 0;
  z-index: -5;
  flex: 1 1 0;
}







/* image coline */ 
.main span {
  transition-delay: 0.2;
  transform : translateY (100%);
}



.sub span {
  transform : translateY (-100%);
  transition-delay : 0.5s;
}

.card:hover .text-box :is(span){
  transform : translateY(0%);
}




.card .image-box img{
  display: flex;
  justify-content: center;
  object-fit: cover;
  filter: grayscale(0) brightness(1);
  scale: 1.2;
  transition: scale 2s ease-in-out, filter 1s ease-in-out;
}


.card:hover .image-box img{
  filter: grayscale(1) brightness(0.7);
  scale : 1;
}




table{
    margin-bottom: 1em;    
}




blockquote p {
    padding: 15px;
    border-radius: 5px;
}
/*boutton subscribe Sarah*/

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.Nom{
  flex: 1 0 10rem
}
.Email{
  flex: 1 0 10rem
}
.button{
  flex: 1 0 5rem;
}

/*test youssef*/

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
}