/* Importation du style de la police d'écriture : Fredericka */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-image: url("./img/bgclair.jpg");
    font-family: 'Fredericka the Great', sans-serif;
}

/* Style du menu */
.navbar a{
    color: black;
    
}

a:visited{
    color: rgb(73, 165, 131);
}

.navbar .nav-links ul li.active a{
    color: rgb(51, 3, 174);

}

.navbar .nav-links ul li a:hover{
    color: rgb(42, 195, 139);
    transition: all 0.5s ease;
}

.navbar .nav-links ul li a{
    transition: all 0.5s ease;
}

/* Détection de la taille de l'écran */
@media screen and (max-width: 1000px){

    .nav-links{
        background-color: rgb(176, 202, 220);
    }
    
}

h1{
    text-shadow: 0 0 20px rgb(101, 209, 224);
}

p{
    text-shadow: 0 0 20px rgb(101, 209, 224);

}

/* Style du bouton contacter */
.contact {
    background-color: rgba(142, 12, 12, 0);
    border: 6px solid rgb(7, 2, 88);
    box-shadow: 3px 3px 12px #444444;
    color: black;
}


button {
    background-color: rgba(142, 12, 12, 0);
    border: 6px solid rgb(18, 6, 243);
    box-shadow: 3px 3px 12px #444444;
    color: black;
}
    
    
.contact:hover {
    border: 4px double rgb(7, 2, 88);
    box-shadow: 1px 1px 4px #777777;
}


/* Style du bouton pour changer le thème */
.lune{
    background-color: rgba(142, 12, 12, 0);
}

/* Style du tableau */
tr {
    background-color : #B8CBD0;
}

th:hover {
    background-color : #7A90A4;
}

th:active {
    background-color : #7A90A4;
}

.tableau-style {
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    border: 2px solid midnightblue;
}

thead tr {
    background-color: midnightblue;
    color: #fff;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

/* Style de la citation */
blockquote p {
    background: #B8CBD0;
}

/* Style du formulaire */
form{
    background-color: rgba(255, 255, 255, 0.409);
    border-radius: 10px;
}

form .separation{
    background-color: rgb(18, 6, 243);
}

form .corps_formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .corps_formulaire .gauche .groupe input{
    border: 1px solid #c9c9c9;
    outline-color: rgba(18, 6, 243);
    border-radius: 5px;
}

form .corps_formulaire .gauche .groupe i{
    color: rgba(18, 6, 243, 0.669);
}

form .corps_formulaire .droite .groupe textarea{
    background-color: #f8f8f8;
    border: 1px solid rgb(18, 6, 243);
    border-radius: 5px;
}

form .pied_formulaire button{
    background-color: rgb(18, 6, 243);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

form .pied_formulaire button:hover{
    background-color: rgb(7, 2, 88);
}
